<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Listagem de Notas</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Título</th>
                            <th>Nota</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="o in notes">
                            <td>{{ o.title }}</td>
                            <td>{{ o.note }}</td>
                            <td>
                                <a ng-href="#/project/{{ o.project_id }}/edit/{{ o.id }}">Editar</a> |
                                <a ng-href="#/project/{{ o.project_id }}/remove/{{ o.id }}">Excluir</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>