<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Projeto <strong>{{ project.name | uppercase }}</strong></h3>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">Exclusão de Nota</div>
                <div class="panel-body">
                    <p>Deseja excluir realmente esta nota?</p>
                    <ul>
                        <li><strong>Título:</strong> {{ note.title }}</li>
                        <li><strong>Nota:</strong> {{ note.note }}</li>
                    </ul>
                    <hr>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-danger" ng-click="remove()">Excluir</button>
                            <a ng-href="#/project/{{ project.id }}/notes" class="btn btn-default">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>