<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>
                Projeto <strong>{{ project.name | uppercase }}</strong>
                <a ng-href="#/project" class="pull-right">
                    <small>&laquo; Voltar</small>
                </a>
            </h3>
            <br>

            <div class="panel panel-default">
                <div class="panel-heading">Listagem de Arquivos <a ng-href="#/project/{{ project.id }}/file/new" class="pull-right">Novo Arquivo</a></div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th width="200">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="o in files">
                            <td>
                                <strong>#{{ o.id }} - {{ o.name }}</strong><br>
                                {{ o.description }}
                            </td>
                            <td>
                                <project-file-download id-project="{{ o.project_id }}" id-file="{{ o.id }}"></project-file-download>
                                <a ng-href="#/project/{{ o.project_id }}/file/{{ o.id }}/edit">Editar</a> |
                                <a ng-href="#/project/{{ o.project_id }}/file/{{ o.id }}/remove">Excluir</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>