<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Exclusão de Projeto</div>
                <div class="panel-body">
                    <p>Deseja excluir realmente este projeto?</p>
                    <ul>
                        <li><strong>Nome:</strong> {{ project.name }}</li>
                        <li><strong>Cliente:</strong> {{ project.client.data.name }}</li>
                    </ul>
                    <hr>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-danger" ng-click="remove()">Excluir</button>
                            <a ng-href="#/project" class="btn btn-default">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>